.cultivate-entry {

  &-header-label {
    font-size: 24px;
    font-weight: bold;

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 16px;

      div:nth-child(2) {
        margin-top: 5px;

        span {
          color: #096489;
          text-decoration: underline;
        }
      }
    }
  }

  &-file-wrapper {
    height: 340px;
    background-color: #EBEBEB;
  }

  &-button-wrapper {
    display: flex;
    justify-content: center;
  }

}