.cultivate-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 53px;

  label {
    font-size: 40px;
    color: #080707;
    font-weight: bold;
    margin-bottom: 10px;
  }

  div:first-of-type {
    margin-bottom: 6px;
  }
}